---
layout: default
title: Brighton Japan Festival
banner: images/banner.jpg
slideshow: 1
---
  <div class="container rel">
  </div>
  {% include modules/carousel.html category="events" %}
  
  <div class="section">
    <div class="container">
      <h1 class="page-header">Brighton Japan Festival</h1> 
      <p class="lead">Brighton Japan continues to grow exponentially. From a single day event five years ago, it expanded last year to a full ten day festival encompassing some of the most prestigious venues Brighton has to offer.<br>
      This year sees the festival move to the beautiful OLD STEINE GARDENS in the heart of Brighton for two massive weekend street festivals and a nightly programme of music and performances. We look forward to seeing you there!</p>
    </div>
  </div>
  <div class="black section">
    <div class="container">
      <a class="btn btn-danger btn-lg pull-right">Buy Tickets</a>
      <div class="datebox pull-right" id="countdown" data-date="9-14-2015 00:00:00"></div>
      <p class="h3" style="font-size: 40px;margin: 0; color: #fff;">14th - 20th September, 2015</p>
    </div>
  </div>
  <div class="grey section">
    <div class="container">
      <h2 class="page-header">Events</h2> 
      {% include modules/events.html category="events" %} 
    </div>
  </div>
  
  <p>&nbsp;</p>
  <p>&nbsp;</p>
