---
layout: default
---
{% include modules/banner.html %}

<div class="section" id="content">
  <div class="container">
    {{ content }}
  </div>
</div>

<div class="section" id="events">
  <div class="container">
    <div class="row">
      {% for area in site.areas %}
      <div class="col-sm-6 col-md-4">
        <div class="box bg-pattern-2">
          <h3 class="media-heading">{{ area.title }}</h3>
          <ul class="media-list">
            {% for event in site.events %}{% if event.area == area.slug %}
            <li class="media">
              <a class="media-left" href="#">
                <div class="datebox"><span>{{ event.start_date | date:'%d' }}<small>{{ event.start_date | date:'%m' }}</small></span></div>
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{ event.title }}</h4>
              </div>
            </li>
            {% endif %}{% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
