---
layout: default
---
{% assign photos = (site.gallery | where: 'album', page.slug) %}
{% if page.image %}
<div class="banner" style="background-image: url(//cdn.donlabs.com/1280x400/brightonjapan/{{ page.image }})">
  <div class="container">
    <div class="banner-text">
      <h1 class="box">{{ page.title }}</h1>
    </div>
  </div>
</div>
{% endif %}

<div class="section" id="content">
  <div class="container">
    {% unless page.image %}<h1 class="page-header" style="margin-top:90px">{{ page.title }}</h1>{% endunless %}
    {{ content }}
    <div class="row equal">
      {% for item in photos %}
        <div class="col-sm-4 col-md-3"><a class="thumb" {% if page.image %}data-toggle="lightbox" data-remote="//cdn.donlabs.com/800x0/brightonjapan/{{ item.image }}" data-gallery="photoalbum"{% else %}href="{{ site.url }}{{ item.url }}"{% endif %}>
          <figure>
            <div class="thumb-square img" style="background-image: url(//cdn.donlabs.com/432x243/brightonjapan/{{ item.image }})"></div>
          </figure>
          {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
        </a><br></div>
      {% endfor %}
    </div>
  </div>
</div>

