---
layout: default
---

{% assign photos = (site.pages | where: 'category', page.slug) %}

<div class="row">
  {% for item in photos %}
  <div class="col-sm-6 col-md-4"><a class="thumb" href="{{site.baseurl}}{{ item.url }}" >
    <figure>
      <div class="thumb-wide img" style="background-image: url(http://cdn.abemedia.co.uk?width=432&height=243&url={{ item.image }})"></div>
    </figure>
    {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
  </a><br></div>
  {% assign i = (forloop.index | modulo: 3) %}
  {% assign j = (forloop.index | modulo: 2) %}
  
  {% if i == 0 %}<br class="visible-md-block">{% endif %}
  {% if j == 0 %}<br class="visible-sm-block">{% endif %}
  
  {% endfor %}
  
</div>
