---
layout: default
---
{% assign photos = (site.pages | where: 'category', page.slug) %}
{% if page.image %}
<div class="banner" style="background-image: url(//cdn.donlabs.com/?w=1280&h=400&file={{ page.image | cgi_escape }})">
  <div class="container">
    <div class="banner-text">
      <h1 class="box">{{ page.title }}</h1>
    </div>
  </div>
</div>
{% endif %}

<div class="section" id="content">
  <div class="container">
    {% unless page.image %}<h1 class="page-header" style="margin-top:90px">{{ page.title }}</h1>{% endunless %}
    {{ content }}
    <div class="row equal">
      {% for item in photos %}
        <div class="col-sm-6 col-md-4"><a class="thumb" {% if page.image %}data-toggle="lightbox" data-remote="{{ item.image }}" data-gallery="photoalbum"{% else %}href="{{ site.url }}{{ item.url }}"{% endif %}>
          <figure>
            <div class="thumb-wide img" style="background-image: url(//cdn.abemedia.co.uk/?w=432&h=243&file={{ item.image | cgi_escape  }})"></div>
          </figure>
          {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
        </a><br></div>
      {% endfor %}
    </div>
  </div>
</div>

