---
layout: default
---
{% include modules/banner.html %}
<div class="section" id="content">
  <div class="container">
    {% assign submenu = (site.content | where: 'parent', page.slug | sort: 'order') %}
    {% unless submenu | size %}
    {% assign submenu = (site.content | where: 'parent', page.parent | sort: 'order') %}
    {% endunless %}
    {% if submenu | size %}
    <div class="row">
      <div class="col-sm-9">{{ content }}</div>
      <div class="col-sm-3">
        <div class="box bg-pattern-2">
          <ul class="nav nav-pills nav-stacked">
            {% for item in submenu %}
            <li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% else %}
    {{ content }}
    {% endif %}
  </div>
</div>