---
layout: default
---
{% include modules/banner.html %}

<div class="section" id="tickets">
  <div class="container">
    {{ content }}
    
    <div class="row">
      {% for item in site.events %}{% if item.ticket %}
      <div class="col-md-6">
        <div class="box red bg-pattern-2">
          <div class="pull-right">
            <div class="input-group">
              <span class="input-group-addon">&pound;{{ item.price }}</span>
              <a class="btn btn-info btn-lg" href="{{ item.ticket }}" target="_blank">Buy Tickets</a>
            </div>
          </div>
          <h3 class="media-heading">{{ item.title }}</h3>
          <span>{{ item.start_date | date: '%A, %d %B %Y' }}</span>
        </div>
      </div>
      {% endif %}{% endfor %}
    </div>
  </div>
</div>

<div class="input-group">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>