---
layout: default
---
{% include modules/banner.html %}

<div class="section" id="content">
  <div class="container">
    {{ content }}
  </div>
</div>
<div class="section black" id="tickets">
  <div class="container">
    <div class="row">
      {% for item in site.events %}{% if item.ticket %}
      <div class="col-md-6">
        <div class="box red bg-pattern-2">
          <a class="btn btn-warning btn-lg pull-right" href="{{ item.ticket }}" target="_blank">Buy Tickets</a>
          <h3 class="media-heading">{{ item.title }} <small>&pound;{{ item.price }}</small></h3>
          <span>{{ item.start_date | date: '%A, %d %B %Y' }}</span>
        </div>
      </div>
      {% endif %}{% endfor %}
    </div>
  </div>
</div>