  <div class="row">
    {% for item in site[include.params.category] %}{% if item.parent == include.params.parent %}{% if include.params.area == nil or item.area == include.params.area %}
    <div class="col-sm-6 col-md-4"><a class="thumb" href="{{site.baseurl}}{{ item.url }}" >
    <figure>
      <div class="thumb-wide img" style="background-image: url(http://cdn.abemedia.co.uk/432x243{{site.baseurl}}{{ item.image }})"></div>
    </figure>
    <h3>{{ item.title }}</h3>
    {% if item.start_date %}<p>{{ item.start_date | date: '%d %M %Y' }}</p>{% endif %}
    <p>{{ item.content | strip_html | truncatewords:20 }}</p>
    </a><br></div>{% endif %}{% endif %}{% endfor %}
  </div>
