  <ul class="box-list box-list-md">
    {% for item in site[include.params.category] %}{% if item.parent == include.params.parent %}{% if !include.params.area || item.area == include.params.area %}
    <li><a href="{{site.baseurl}}{{ item.url }}" >
    <figure>
      <div class="thumb-wide img" style="background-image: url(http://cdn.abemedia.co.uk/432x243{{site.baseurl}}{{ item.image }})"></div>
    </figure>
    <h3>{{ item.title }}</h3>
    <p>{{ item.excerpt | strip_html | truncatewords:20 }}</p>
    </a>{% endif %}{% endif %}{% endfor %}
  </ul>
